<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

        {{ partial "carousel.html" . }}
        <div style="margin:0 auto;width:75%;text-align:center">
        <p align="center"> Fundación Tenemos ELA Uruguay pretende brindar servicios de información, atención, apoyo social y legal que colabore con las personas afectadas con ELA. Acompañar los procesos médicos para avanzar en los cuidados y tratamientos multidisciplinarios de los pacientes, capacitar al equipo técnico y promover la articulación con los actores sociales y gubernamentales del área de la salud. </p>

        {{ partial "paypal-boton.html" . }}

        </div>



        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
